.user-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8fafc;
    /* var(--light) */
    font-family: 'Inter', sans-serif;
}

.user-main {
    flex: 1;
    width: 100%;
    /* Navbar height usually around 70-80px */
    padding-top: 20px;
    /* Max width container logic can be inside pages or here if global */
    /* If we want full width pages (like Home), we shouldn't constrain it here */
}